package
*.pyc
*.a
*.o
.idea
.env

Euler*.tar.gz
Hyper*.tar.gz
kernel-source*.rpm
Euler_compile_env/
arm_station/
IT21EINA_MCU_*.bin
src/python/demo
src/python/.vscode
.vscode
*.code-workspace
build/.cmake/
build/CMakeFiles/
build/src/
build/opensource-generl-download/
